:root { 
	--main-height: 70vh; 
}

body {
	font-family: sans-serif;
	background-color: rgba(0,0,0,0.1);
	margin: 0;
}


.math {
	font-weight: bold;
}

#tiles {
	background-color: #FFF;
	display: block;
	max-width: 440px;
	width: 30vw;
	height: 100vh;
	float: left;
	overflow-y: auto;
	box-shadow: 0 0 6px 3px rgba(0,0,0,0.16), 0 0 6px 3px rgba(0,0,0,0.23);
}

#tiles .parent {
	position: relative;
	font-size: 1em;
	line-height: 2em;
	padding: 5px;
	padding-left: 24px;
	z-index: 3;
	border-bottom: thin solid rgba(0,0,0,0.1);
	cursor: pointer;
}

#tiles .parent:hover {
	background-color: rgba(0,0,0,0.05);
}


#tiles::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}
		
#tiles::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.26);
}
#show {
	display: inline-block;
	height: 100%;
	width: calc(70vw - 40px);
	position: absolute;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: auto;
	
}
#show::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}
		
#show::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.26);
}

#show .canvas {
	height: calc(70vw - 40px);
	position: relative;
	margin: 10px auto;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: hidden;
	opacity: 1;
	transition: opacity 0.3s;
	transition: transform 0.2s ease-out;
	transform: translateX(-120%);
}

#show .canvas canvas {
	height: 100%;
}

